a{
    text-decoration: none;
    color: #000;
}
.header{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    padding:15px 0;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    z-index: 1000;
}
.header-bg{
    background-color: rgba(86,123,79,0.8);
}
.nav ul li{
    box-snap: none;
    display: inline-block;
    margin: 0 20px;
}
.nav ul li a{
    color: #fafafa;
}